<div id="edit_trek">
	<div id="contenu_edit_trek">
		<h1>Editer mon trek</h1>

		<%= render 'form' %>

		<!--<%= link_to 'Show', @travel %> |
		<%= link_to 'Back', travels_path %>-->
		<div class="spacer"></div>
	</div>
</div>
