<div id="nouveau_trek">
	<div id="contenu_nouveau_trek">

	<h1>Nouveau trek</h1>

	<%= render 'form' %>

	<%= link_to 'Retour au profil', travels_path, :class => "retour" %>
	<div class="spacer"></div>
	</div>
</div>
